header {

  background-color: LightBlue;
  margin: 10px 10px 10px 10px;
}

.img-cabecera{
  float:left;
  display: inline-block;
  width: 10%;
  margin-left: 5px;
  padding-left: 10%;
  padding-top: 1.5%;
}

.titulo-cabecera {
  display: inline-block;
  padding-top:3.2%;
  width: 30%;
  padding-left: 24%;
  font-style:italic;
  font-size:40px;
  vertical-align:95%;
  padding-bottom:1%;
}

.conectado {
  display: inline-block;
  margin-top: 2%;
  margin-left: 3%;
  margin-bottom: 0;
  position: absolute;

}

img.conectado{
  width: 70px;
  margin-left: 10%;
  border: 2px solid black;
}

p.conectado{

  padding-top: 80px;
  padding-left: 60px;
}

#desconectar {
  display: inline-block;
  padding-left: 18%;
}

footer {

  clear: left;
  font-size: large;
  font-weight: bold;
  text-align: center;
  margin: 10px 10px 10px 10px;
  padding-top:0.5%;
}

footer a{

  text-decoration: none;
}


article {

  margin-left: 90px;
  margin-right:90px;

  border: 2px solid;

}
article img {
  display:inline-block;
  float:left;
  width:19.41%;
  padding-left:20%;
  padding-right:5%;
}

.titulo-libro{
  display:block;
  padding-top:5%;
  font-weight: bold;
}

.autor-libro{
  display:block;
  font-weight: bold;
  padding-bottom:2.2%;
}

#autor-libro-1 {
  padding-bottom:6%;
  font-weight: bold;
}


section h2{
  clear:left;
  text-align:center;
  text-decoration: underline;
}

#mejoreslibros{

  border-left: 3px solid;
}

#imagen-relacionada{
  padding-left:20%;
  padding-top:15%;
}
section {
  display: inline-block;
  width: 48.3%;
  float: left;
  margin: 10px 10px 10px 10px;
  padding-bottom:10px;

}

/* BARRA DE NAVEGACIÓN */
ul#listado{

  list-style:none;

}

/* Cada ítem de la lista la ponemos a la izquierda */
li.secciones {
  float: left;
  font-size: 18px;
}

a.links {

  display: block;
  padding: 10px 20px 10px 20px;
  color: black;
  text-decoration: none; /*Al ser un enlace, aparece subrayado y con esto lo quitamos */
}

/*hover es para cuando se pase el ratón por encima */
nav ul li:hover {
  background-color: LightBlue;
}
